services:

  ollama:
    image: ollama/ollama
    environment:
      - OLLAMA_NO_PRELOAD=1
      # - OLLAMA_NUM_GPU_LAYERS=12
      # - OLLAMA_CTX_SIZE=4096
    # devices:
    #   - "/dev/dxg:/dev/kfd"
    #   # - "/dev/dri:/dev/dri"
    #   - /usr/lib/wsl/lib/libdxcore.so:/usr/lib/libdxcore.so
    #   - /opt/rocm/lib/libhsa-runtime64.so.1:/opt/rocm/lib/libhsa-runtime64.so.1
    # group_add:
    #   - video
    ports:
      - 11434:11434
    volumes:
      # - /opt/rocm:/opt/rocm
      - ./.ollama:/root/.ollama

  ollama_init:
    image: curlimages/curl
    environment:
      - API_URL=ollama:11434
      - MODEL_NAME=mixtral:8x7b
      - MODEL_NAME=tinyllama
    depends_on:
      - ollama
    restart: no
    entrypoint: [ "sh", "-c", 'curl -X POST "$${API_URL}"/api/pull -d "{\"model\": \"$${MODEL_NAME}\"}"' ] 

  knowledgebase:
    image: semitechnologies/weaviate:latest
    ports:
      - "711:711"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCES_ENABLED: "true"
      ENABLE_API_BASED_MODULES: "true"
    network_mode: "host"
    restart: on-failure:0
    command:
      - --port
      - "711"
      - --scheme
      - http

  jira_bot:
    image: ghcr.io/bmln/jira_bot
    build:
      context: .
      dockerfile_inline: |
        FROM ghcr.io/astral-sh/uv:bookworm-slim as build
      
        COPY src/jira_botter /opt/jira_bot
        COPY pyproject.toml /opt/jira_bot/pyproject.toml
        RUN mkdir -p /opt/jira_bot/resources
        WORKDIR /opt/jira_bot




        FROM build as runtime
        
        RUN apt update
        RUN apt upgrade
        RUN apt install --yes git
        RUN uv sync
        RUN cat <<'EOF' > init.sh
        #!/bin/sh

        SKIP_INIT=$${SKIP_INIT:-"false"}
        DATA_DIR=$${DATA_DIR:-"./resources"}


        if [ "$$SKIP_INIT" = "false" ]; then   
          echo "Started data initialization..."         
          uv run python -m jira_bot.__load__ $$(find $$DATA_DIR -maxdepth 1 -type f -print0 | xargs -0)
          
          if [ "$$?" != 0 ]; then
            return 1
          fi

          echo "Finished data initialization!"
        fi
        
        echo "Started bot initialization..."
        uv run python -m jira_bot
        EOF


        ENTRYPOINT ["/bin/sh", "init.sh"]
    environment:
      SKIP_INIT: "false" #"true"
      JIRA_URL: ${JIRA_URL}
      JIRA_AUTH_EMAIL: ${JIRA_AUTH_EMAIL}
      JIRA_AUTH_TOKEN: ${JIRA_AUTH_TOKEN}
      JIRA_SERVICEDESK: ${JIRA_SERVICEDESK}
      CHATBOT_KB_HOST: ${CHATBOT_KB_HOST}
      CHATBOT_KB_PORT: ${CHATBOT_KB_PORT}
      CHATBOT_KB_COLLECTION: ${CHATBOT_KB_COLLECTION}
      CHATBOT_ENCODER_MODEL: ${CHATBOT_ENCODER_MODEL}
      CHATBOT_GENERATOR_MODEL: ${CHATBOT_GENERATOR_MODEL}
      CHATBOT_GENERATOR_ENDPOINT: ${CHATBOT_GENERATOR_ENDPOINT}
    volumes:
      - ./data.json:/opt/jira_bot/resources/data.json
    network_mode: "host"
    depends_on:
      knowledgebase:
        condition: service_started
      ollama_init:
        condition: service_completed_successfully
          
